body
{
    background-color: wheat;
    text-align: center;
}

img 
{
    float: left;
    height: 100%;
    width: 50%;
    transform: 250ms;
}
    
img:hover
{
    transform:translateX(-10px);

}

h2
{
    font-size: 40px;
    padding: 50px 0px 50px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkred;
}

textarea, input
{
    vertical-align: top;
    margin:8px 0px 8px 112px;
    width:400px;
    height: 40px;
    margin-right: 80px;
    background-color:transparent;
    border-color: black;
    font-size: 20px;
    font-family: lato;
}

::placeholder
{
    font-size: 20px;
    font-family: lato;
}

a
{
    text-decoration: none;
    color:rgb(134, 48, 48);
    font-size: 30px;
    font-weight: bold;
    border: 2;
    border-radius: 75px;
    box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;   
    
}

a:hover
{
    background-color: rgba(165,42,42,0.2);
}

button
{
    font-size: 23px;
    background-color: transparent;
    border-radius: 20px;
    color:rgb(134, 48, 48);
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:5px;
    width: 100px;
    border:none;
    box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.6);
    margin-top: 15px;
    margin-bottom: 140px;
    cursor: pointer;
}
button:hover
{
    background-color: rgba(241,133,114,0.2);
}

label
{
    display: inline-block;
    width: 160px;
    text-align: right;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}​